<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
</head> 
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Weather</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">Info</a>
          <a class="p-2 text-dark" href="#">About</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Contacts</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-5 offset-1">
                <form action="" method="post">
                    {% csrf_token %}    <!-- for correct working form --> 
                    <label for="city">Search</label>
                    {{ form.name }}
                    <!-- <input type="text" id="city" class="form-control" name="city" placeholder="Enter name of city"> -->
                    <input type="submit" name="send" value="View" class="mt-2 btn btn-danger">
                </form>
            </div>

            <div class="col-4 offset-1">
                <h6>Information</h6>
                
                {% for info in all_cities %}
                <div class="alert alert-dark">
                    <div class="row">
                        <div class="col-9"> 
                            <b>City</b> {{ info.city }} <br>
                            <b>Temperature</b> {{ info.temperature }} <sup>o</sup><br>
                        </div>
                        <div class="col-2 offcet-1">
                            <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Photo">
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</body>
</html>


